RABBY_MOBILE_BUILD_ENV=production
RABBY_MOBILE_BUILD_CHANNEL=appstore
RABBY_MOBILE_KR_PWD=REPLACE_WITH_A_STABLE_PRODUCTION_SECRET
RABBY_MOBILE_CODE=REPLACE_WITH_A_STABLE_PRODUCTION_CODE
RABBY_MOBILE_E2E_SILENT_LOGS=true
RABBY_MOBILE_SAFE_API_KEY=REPLACE_WITH_YOUR_PRODUCTION_API_KEY
RABBY_MOBILE_WALLETCONNECT_PROJECT_ID=REPLACE_WITH_YOUR_WALLETCONNECT_PROJECT_ID
RABBY_MOBILE_FE_SERVICE_URL=REPLACE_WITH_YOUR_PRODUCTION_SERVICE_URL
DEV_CONSOLE_URL=
DEV_SERVER_HOSTNAME=
