# Copy this file to .env.local for personal machine settings.
ADB_SERIAL=
RABBY_MAESTRO_ARTIFACTS_DIR=
RABBY_MAESTRO_APP_ID=com.cubex.wallet.debug
RABBY_MAESTRO_APP_PASSWORD=11111111
RABBY_MAESTRO_TEST_PRIVATE_KEYS=
